# TensorBoard Events Dateien
events.out.tfevents.*

# Trainings-Output-Dateien
*.out

# Checkpoints / Modelle
*.pth

# WandB Logs und Ordner
wandb/
# Python build artifacts
__pycache__/
*.pyc
*.so
*.o
*.egg-info

# Build directories
nets/ops/build/

#eval results
logs_eval/

# keys 
ssh_key*
